@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
header {
  background-image: url(../aassets/Image/timesquare.webp);
  height: 625px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: "Cardo", serif;
}

#navbarDropdownMenuLink {
  font-size: 1.2rem;
  margin-left: 100px;
  font-weight: bold;
  color: white;
}

main {
  min-height: 2100px;
}

#h2main {
  margin-top: 50px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 2.2rem;
  line-height: 0;
  font-family: "Cardo", serif;
}

.btn {
  background-color: grey !important;
  border-style: none !important;
  height: 40px;
  width: 160px;
}
.btn a {
  text-decoration: none !important;
  font-weight: bold;
  color: white;
}

#sec2main {
  background-image: url(../aassets/Image/MAEC_ESTADOS\ UNIDOS_NUEVA\ YORK.jpg);
  min-height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
#sec2main #h2sec2 {
  font-family: "Cardo", serif;
}

#sec3main {
  min-height: 400px;
  margin-top: 30px;
}

#titcarru {
  font-family: "Cardo", serif;
  font-size: 2rem;
}

#textcarru {
  font-family: "Cardo", serif;
  font-size: 1.1rem;
}

#fotocarrusel {
  height: 380px;
}

#titsec3 {
  font-family: "Cardo", serif;
  font-size: 2rem;
}

h5 {
  font-family: "Cardo", serif;
}

#sec4main {
  min-height: 400px;
}
#sec4main #botonsec4 {
  margin-bottom: 30px;
}

#foot {
  height: 300px;
  background-color: lightsalmon;
}
#foot #titform {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 1.2rem;
  font-family: "Cardo", serif;
}
#foot #form {
  margin-top: 10px;
  margin-left: 30px;
}
#foot #form1 {
  margin-left: 30px;
}
#foot #exampleFormControlInput1 {
  width: 400px;
}
#foot #exampleFormControlTextarea1 {
  width: 400px;
}
#foot #logofoot {
  width: 280px;
  height: 280px;
  margin-top: 15px;
  margin-left: 90px;
}
#foot #logof {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  margin-bottom: 10px;
}
#foot #logoi {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  margin-bottom: 10px;
}
#foot #logot {
  width: 50px;
  height: 50px;
  margin-left: 200px;
  margin-bottom: 10px;
}
#foot #logop {
  width: 50px;
  height: 50px;
  margin-left: 200px;
}

@media (max-width: 575.98px) {
  main {
    min-height: 4550px !important;
  }
  #h2main {
    font-size: 25px !important;
  }
  #sec2main {
    min-height: 250px;
  }
  #sec2main #h2sec2 {
    padding-bottom: 30px;
  }
  #sec3main {
    min-height: 500px;
    margin-top: 30px;
  }
  #sec3main #titcarru {
    margin-top: -45px;
  }
  #sec3main .btn {
    margin-left: 85px;
  }
  #fotocarrusel {
    height: 210px;
  }
  #botonsec4 {
    margin-left: 120PX !important;
  }
  #foot {
    min-height: 720px !important;
  }
  #exampleFormControlInput1 {
    width: 300px !important;
  }
  #exampleFormControlTextarea1 {
    width: 340px !important;
  }
  #logofoot {
    width: 150px !important;
    height: 150px !important;
    margin-left: 125px !important;
  }
  #logof {
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
    margin-bottom: 10px;
  }
  #logoi {
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
    margin-bottom: 10px;
  }
  #logot {
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
    margin-bottom: 10px;
  }
  #logop {
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
  }
}
@media (max-width: 767.98px) {
  main {
    height: 3100px;
  }
}/*# sourceMappingURL=style.css.map */