#foot { 
    background-color: lightsalmon;
    #titform {
        margin-top: 20px;
        // margin-left: 30px;
        font-size: 1rem;
        font-family: $fuentetitulos;
    }
    #exampleFormControlInput1 {
        width: 300px;
    }
    #exampleFormControlTextarea1 {
        width: 300px;
    }
    #logofoot {
        width: 280px;
        height: 280px;
        // margin-top: 15px;
        // margin-left: 90px;
    }
    #logof {
        width: 40px;
        height: 40px;
        // margin-left: 200px;
        // margin-bottom: 10px;
    }
    #logoi {
        width: 40px;
        height: 40px;
        // margin-left: 200px;
        // margin-bottom: 10px;
    }
    #logot {
        width: 40px;
        height: 40px;
        // margin-left: 200px;
        // margin-bottom: 10px;
    }
    #logop {
        width: 40px;
        height: 40px;
        // margin-left: 200px;
    }
 




}