header {
    background-image: url(../aassets/Image/fotoheader.jpg);
    height: 625px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-family: $fuentenavbar;
    }
    #navbarDropdownMenuLink {
        font-size: $fuentenavbar;
        padding-left: 100px;
        padding-right: 100px;
        font-weight: bold;
        color: white;
    }
    #botnav1 {
            margin-left: 80px;
            background-color: transparent;
            border-style: none;
            .dropdown-item {
                @include navbar;
            }
        }
    
    