main {
    min-height: 2100px;
    }
    #h2main {
        margin-top: 50px;
        margin-bottom: 45px;
        text-align: center;
        font-size: $fuenteh1;
        line-height: 0;
        font-family: $fuentetitulos;
    }
    .btn {
        background-color: grey !important;
        border-style: none !important;
        height: 40px;
        width: 160px; 
        a {
            text-decoration: none !important;
            font-weight: bold;
            color: white;
        }
    }       
    
    #sec2main {
        background-image: url(../aassets/Image/MAEC_ESTADOS\ UNIDOS_NUEVA\ YORK.jpg);
        min-height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        #h2sec2 {
            font-family: $fuentetitulos;
        }
    }
    #sec3main {
        min-height: 400px;
        margin-top: 30px;
    }
    #titcarru {
        font-family: $fuentetitulos;
        font-size: $fuenteh2;
    }
    #fotocarrusel {
        max-width: 100%;
        height: auto;
    }
    #textcarru {
        font-family: $fuentetitulos;
        font-size: $tamañoparrafo;
    }
    #fotocarrusel {
        height: 380px;
    }
    #titsec3 {
        font-family: $fuentetitulos;
        font-size: $fuenteh2;
    }
    h5 {
        font-family: $fuentetitulos;
    }
    #sec4main {
        min-height: 400px;
        #botonsec4 {
            margin-bottom: 30px;
        }
    }